.App {
  text-align: center;
}

.container {
  text-align: center;
  margin-top: 100px;
  font-family: Arial, sans-serif;
}

.heading {
  font-size: 28px;
  color: #333;
}

.mb-20 {
  margin-bottom: 20px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}